@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html,body{
    font-family: 'Press Start 2P', cursive;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
        position: relative;
}

.container{
    border: 5px solid white;
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 35px;
}

.secretnum{
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top:55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
button{
    transition: all .5s ease;
}
button:active{
    transform: translateY(-5px);
}
.secretnum p{
    font-size: 50px;
}

.container p{
    color: white;
    font-size: 20px;
    
}

.container input{
    width: 300px;
    height: 40px;
    border-radius: 50px;
    border: none;
    padding: 15px;
    outline: none;
}

.container button{
    width: 200px;
    height: 40px;
    border-radius: 50px;
    border: none;
    font-family: 'Press Start 2P', cursive;
    font-weight: bolder;
}
